.display-ficha {
  background-color: var(--input-border-color);
  margin: 20px;
  padding: 20px;
  height: 88vh;
  width: 635px;
  border-radius: 10px;
  max-height: 100vh;
  overflow: auto;
}

.display-ficha h2 {
  margin-top: 0;
}

