.display-ficha {
  background-color: var(--input-border-color);
  margin: 20px;
  padding: 20px;
  height: 88vh;
  width: 100vh;
  border-radius: 10px;
  max-height: 100vh;
  overflow: auto;
}

.display-ficha h2 {
  margin-top: 0;
}

.character-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-bottom: 20px;
}

.character-info {
  display: flex;
  align-items: center;
  border: 1px solid var(--input-background-color);
  padding: 5px 8px;
}

.character-label {
  font-weight: bold;
  margin-right: 10px;
}

.mid-container {
  display: flex;
}

