.combat-group {
  border: 1px solid var(--input-background-color);
  width: 175px;
  margin: 0px;
  padding: 5px;
}

.combat-init {
  margin: 5px 0px;
  background-color: var(--input-secondary);
  padding: 3px 0px;
}

.combat-ca{
  margin: 10px 0px 0px;
  padding: 5px 0px 3px;
  background-color: var(--input-secondary);
}

.combat-value{
  margin: 0px 0px 5px;
  padding: 5px 0px 3px;
  font-size: 22px;
  background-color: var(--input-secondary);
}

.combat-desl{
  margin: 10px 0px;
  padding: 3px 0px;
  background-color: var(--input-secondary);
}

.combat-prof {
  margin: 0px;
  padding: 3px 0px;
  background-color: var(--input-secondary);
}