.LoginForm {
  width: 210px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.LoginForm h3 {
  margin: 20px;
}

.LoginForm input {
  width: 200px;
  padding: 8px;
  margin-bottom: 10px;
}

.LoginForm button:disabled {
  background-color: var(--text-color);
  cursor: not-allowed;
}

.LoginForm a {
  display: block;
  margin-bottom: 10px;
  color: #337ab7;
  text-decoration: none;
  margin: 10px;
}

.LoginForm a:hover {
  text-decoration: underline;
}

.back-loading {
  display: flex;
  flex-direction: column;
  background-color:var(--accent-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.back-off-alert {
  display: flex;
  flex-direction: column;
  background-color: var(--Dnd-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.back-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.back-message {
  font-size: 16px;
  margin-bottom: 5px;
}

.back-contact {
  font-size: 16px;
}

.profile-icons {
  margin-top: 50px;
}

.icon-maker-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  width: 200px;
  margin: 5px;
  cursor: pointer;
}

.icon-maker-avatar {
  width: 24px;
  height: 24px;
  margin: 3px;
  border-radius: 50%;
  object-fit: cover;
}

.icon-maker-name {
  margin: 5px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

h6 {
  margin: 0;
} 

@media (min-width: 750px) {
  .LoginForm {
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
