:root {
  --primary-color: #2196F3;
  --secondary-color: #FF4081;
  --text-color: #cccccc;
  --input-background-color: #333333;
  --input-border-color: #555555;
  --input-secondary: #5e5d5d;
  --accent-color: #FFC107;
  --Dnd-color: #c41e3a;
}

.App {
  color: var(--text-color);
  background-color: var(--input-background-color);
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

button {
  width:  90%;
  padding: 8px;
  color: var(input-background-color);
  background-color: dimgray;
  border: none; 
  cursor: pointer;
  margin: 5px;
  font-size: medium;
}

@media (min-width: 750px) {
  .App {
    justify-content: left;
  }
}
